body{
  margin:0px;
  background-color:#525252;
}

@font-face {
  font-family: lol;
  src: url(../fonte/Friz.ttf);
}

h1{ 
  margin: 0px;
  font-family:lol; 
  font-size:48px;
}

header {
  background-color:black; 
  text-align:center;
  /*padding:5px;*/
}


#header-login {
  float: right;
  margin-top: 4%;
  margin-right: 5%;
}

#header-login .btn-lol{
  display: block;
  margin-bottom: 10px;
}

nav {
  background-color: white;
  width:20%;
  float:right;
}

nav img{
  padding-left: 5px;
  max-width:100%; 
  width:250px; 
  height:100px; 
  float:left;
}

nav p{
  padding-left: 10px;
  clear: left;
}

section {
  width:80%;
  height:80%;
  /*background-color:#525252;*/
  float: left;	
}

section p{
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family:lol; 
}

footer {
  clear:left;
  background-color:black;
  color:white;
  text-align:center;
  bottom:0;
  width:100%;
}

#conteudo-all { 
  height: auto; 
  min-height: 100%; 
  background-color:#525252;
}

.centralizar{
  text-align: center;
}

.btn{
  width: 150px;
  font-family: arial;
  font-size:11px;
  text-transform: uppercase;
  font-weight:700;
  border: none;
  padding: 4px;
  cursor:pointer;
  border-radius: 3px;
}

.btn-lol{
  background-color: #FFD65E; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD65E), to(#FEBF04));
  background-image: -webkit-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -moz-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -ms-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -o-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: linear-gradient(to bottom, #FFD65E, #FEBF04);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD65E, endColorstr=#FEBF04);
  color:#63460C;
  box-shadow: 0 5px 0 #63460C;
  /*box-shadow: 0 5px 0 #006000;*/
}

.btn-lol:hover{
  background-image: -webkit-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -moz-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -ms-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -o-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: linear-gradient(to bottom, #FFC92B, #CE9A01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFC92B, endColorstr=#CE9A01);
  color:#63460C;
  /*box-shadow: 0 5px 0 #003f00;*/
  box-shadow: 0 5px 0 #63460C;
}

.btn-lol:active{
  position: relative;
  top:5px;
  box-shadow: none;
}

#login-box{
  /*background-color:#1992b7;*/
  width:380px;
  height:260px;
  margin:140px auto 0px;
  border-radius:5px;
  
}

#login-box-interno{
  width:360px;
  height:240px;

  background-color:#fdfdfd;
  position:absolute;
  margin:10px;
  border-radius:5px;
  box-shadow:0px 0px 5px black;
  overflow:hidden;
}

#login-box-label{
  background: #eeeeee; /* Old browsers */
  background: -webkit-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: linear-gradient(#eeeeee 0%, #cccccc 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  height:45px;
  text-align:center;
  font:bold 14px/45px sans-serif;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom:1px solid #bfc3c5;
  box-shadow: 1px 0px 3px #dedede;
  color:#555555;
  text-shadow: 1px 0px 1px white;
}


#registro-box{
  /*background-color:#1992b7;*/
  width:380px;
  height:260px;
  margin:50px auto 0px;
  border-radius:5px;
  
}

#registro-box-interno{
  width:360px;
  height:400px;
  background-color:#fdfdfd;
  position:absolute;
  margin:10px;
  border-radius:5px;
  box-shadow:0px 0px 5px black;
  overflow:hidden;
}

#registro-box-label{
  background: #eeeeee; /* Old browsers */
  background: -webkit-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: linear-gradient(#eeeeee 0%, #cccccc 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  
  height:45px;
  text-align:center;
  
  font:bold 14px/45px sans-serif;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  
  border-bottom:1px solid #bfc3c5;
  box-shadow: 1px 0px 3px #dedede;
  
  color:#555555;
  text-shadow: 1px 0px 1px white;   
}

.input-div{
  margin:20px;
  padding:5px;
  background-color:#f2f5f7;
  border-radius:3px;
}

.input-div input{
  width:310px;
  height:35px;
  padding-left:5px;
  font: normal 13px sans-serif;
  color:#aeaeae;
  border-radius:3px;
  border:1px solid #bfc4c6;      
}

#conteudo {
  display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;           /* TWEENER - IE 10 */
  display: -webkit-flex;          /* NEW - Chrome */
  display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#botoes{
  width:310px;
  margin-left:25px;
}

#botao{
  float:right;
  background-color: #cccccc;
  padding: 5px 15px;
  font: bold 12px sans-serif; 
  border-radius: 20px;
  text-shadow: 0px 1px 0px white;
  border:1px solid #9eb9c3;
  color:#555555;
  cursor:pointer;
}

#botao:active{
  position: relative;
  top:5px;
  box-shadow: none;
}

a:link 
{ 
 text-decoration:none; 
} 













#listCamp-box{
  background-color:#676767;
  width:1000px;
  
  margin:30px auto 0px;
  border-radius:10px;
  box-shadow:0px 0px 50px black;
}

#listCamp-interno{
  width:1000px;
  

  background-color: #676767;
  position: absolute;
  margin-top: 30px;
  border-radius: 50px;


  box-shadow:0px 0px 50px black;
  overflow:hidden;
}

#camp{
  width:960px;
  height:480px;
  border-radius:5px;
  margin:20px;
  background-color: gray;
}

#camp h2{
  padding-top: 15px;
}

#camp-img{
  width: 220px;
  height: 400px;
  margin-left: 30px;
  /*background: url('../imagens/fundo.jpg');*/
  overflow:hidden;
  border-radius: 10px 150px 10px 150px;
  display: inline-block;
  /*background-color: red;*/
}

#conteudo-camp{
  float: right;
  display: inline-block;
  width: 220px;
  height: 400px;
}

