body{
  margin:0px;
  background-color:#525252;
}

@font-face {
  font-family: lol;
  src: url(../fonte/Friz.ttf);
}

h1{ 
  margin: 0px;
  font-family:lol; 
  font-size:48px;
}

header {
  background-color:black; 
  text-align:center;
  /*padding:5px;*/
}


#header-login {
  float: right;
  margin-top: 4%;
  margin-right: 5%;
}

#header-login .btn-lol{
  display: block;
  margin-bottom: 10px;
}

header a img{
  width:45%;
}

nav {
  width:20%;
  float:right;
}

#nav-evento{
  margin: 0 auto;
  width: 90%; /* Altere para o valor da largura desejada. */
}

#nav-eventos{
  box-shadow: -5px -3px 5px 5px #2e2e2e;
  background: #eeeeee; /* Old browsers */
  background: -webkit-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: linear-gradient(#eeeeee 0%, #cccccc 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  border-radius: 5px;
  margin-right: 5px;
}

#nav-eventos img{
  max-width:100%; 
  width:250px; 
  height:100px;
  margin: 0 auto;
}

#nav-eventos p{
  padding-left: 10px;
  clear: left;
}

#nav-botao{
  box-shadow: -5px -3px 5px 5px #2e2e2e;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
  background: rgb(206,220,231); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
  margin-right: 5px;
  border-radius: 5px;
  height: 100px;
}

#nav-botao a{
  height: auto;
}

section h1{
  margin-top: 50px;
}

section {
  width:80%;
  height:80%;
  /*background-color:#525252;*/
  float: left;	
}

section p{
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family:lol; 
}

section img{
  width:70%;
}

footer {
  clear:left;
  background-color:black;
  color:white;
  text-align:center;
  bottom:0;
  width:100%;
}

#conteudo-all { 
  height: auto; 
  min-height: 100%; 
  background-color:#525252;
}

.centralizar{
  text-align: center;
}

.centralizar-div{
  margin: 0 auto;
}

.btn{
  width: 150px;
  font-family: arial;
  font-size:11px;
  text-transform: uppercase;
  font-weight:700;
  border: none;
  padding: 4px;
  cursor:pointer;
  border-radius: 3px;
}

.btn-lol{
  background-color: #FFD65E; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD65E), to(#FEBF04));
  background-image: -webkit-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -moz-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -ms-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -o-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: linear-gradient(to bottom, #FFD65E, #FEBF04);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD65E, endColorstr=#FEBF04);
  color:#63460C;
  box-shadow: 0 5px 0 #63460C;
  /*box-shadow: 0 5px 0 #006000;*/
}

.btn-lol:hover{
  background-image: -webkit-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -moz-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -ms-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -o-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: linear-gradient(to bottom, #FFC92B, #CE9A01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFC92B, endColorstr=#CE9A01);
  color:#63460C;
  /*box-shadow: 0 5px 0 #003f00;*/
  box-shadow: 0 5px 0 #63460C;
}

.btn-lol:active{
  position: relative;
  top:5px;
  box-shadow: none;
}

#login-box{
  /*background-color:#1992b7;*/
  width:380px;
  height:260px;
  margin:140px auto 0px;
  border-radius:5px;
  
}

#login-box-interno{
  width:360px;
  height:240px;

  background-color:#fdfdfd;
  position:absolute;
  margin:10px;
  border-radius:5px;
  box-shadow:0px 0px 5px black;
  overflow:hidden;
}

#login-box-label{
  background: #eeeeee; /* Old browsers */
  background: -webkit-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: linear-gradient(#eeeeee 0%, #cccccc 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  height:45px;
  text-align:center;
  font:bold 14px/45px sans-serif;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom:1px solid #bfc3c5;
  box-shadow: 1px 0px 3px #dedede;
  color:#555555;
  text-shadow: 1px 0px 1px white;
}


#registro-box{
  /*background-color:#1992b7;*/
  width:380px;
  height:500px;
  margin-top: 10px;
  border-radius:5px;
  
}

#registro-box-interno{
  width:360px;
  height:450px;
  background-color:#fdfdfd;
  position:absolute;
  margin:10px;
  border-radius:5px;
  box-shadow:0px 0px 5px black;
  overflow:hidden;
}

#registro-box-label{
  background: #eeeeee; /* Old browsers */
  background: -webkit-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: linear-gradient(#eeeeee 0%, #cccccc 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  
  height:45px;
  text-align:center;
  
  font:bold 14px/45px sans-serif;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  
  border-bottom:1px solid #bfc3c5;
  box-shadow: 1px 0px 3px #dedede;
  
  color:#555555;
  text-shadow: 1px 0px 1px white;   
}

.input-div{
  margin:20px;
  padding:5px;
  background-color:#f2f5f7;
  border-radius:3px;
}

.input-div input{
  width:310px;
  height:35px;
  padding-left:5px;
  font: normal 13px sans-serif;
  border-radius:3px;
  border:1px solid #bfc4c6;      
}

#conteudo {
  display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;           /* TWEENER - IE 10 */
  display: -webkit-flex;          /* NEW - Chrome */
  display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#botoes{
  width:310px;
  margin-left:25px;
}

#botao{
  float:right;
  background-color: #cccccc;
  padding: 5px 15px;
  font: bold 12px sans-serif; 
  border-radius: 20px;
  text-shadow: 0px 1px 0px white;
  border:1px solid #9eb9c3;
  color:#555555;
  cursor:pointer;
}

#botao:active{
  position: relative;
  top:5px;
  box-shadow: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

#listCamp-box{
  background-color:#676767;
  width:1000px;
  margin:30px auto 30px;
  border-radius:10px;
  box-shadow:0px 0px 50px black;
}

#listCamp-interno{
  padding-top: 10px;
  padding-bottom: 10px;
  width:1000px;
  background-color: #676767;
  margin: 0px auto 0px;
  border-radius: 50px;
  box-shadow:0px 0px 50px black;
}

#camp{
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 89%;
  border-radius:5px;
  margin:15px;
  background-color: gray;
}

#list-camp-img{
  width: 200px;
  height: 150px;
  margin: 15px;
  overflow: hidden;
  border-radius: 10px 100px 10px 100px;
  display: inline-block;
}

#conteudo-camp{
  position: absolute;
  width: 700px;
  display: inline-block;
  margin: 15px;
  box-shadow: 0px 0px 5px;
  border-radius: 3px; 
  background: #3D3E35;
  font:bold 16px sans-serif;
}

#conteudo-camp h3{
  text-align: center;
  margin-top: 5px;
  color: #EAEAEA; 
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
  font-size: 22px;
}

#ticket {
  position: fixed;
  top: 295px;
  right: -190px;
}

#ticket:hover {
  right: -45px;   
  transition: all 1s linear;
}

#camp-title{
  width: 1000px;
  height: 150px;
  margin: 30px auto 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px black;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
}

#camp-title > img { 
  width: 175px;
  height: 140px;
  margin: 5px;
  border-radius: 10px 100px 10px 100px;
  display: inline-block;
}

#camp-title-box{
  display: inline-block;
  position: absolute;
  margin: 5px auto;
  width: 640px;
  height: 140px;
}

#camp-title-box h1{
  margin: 10px;
  color: #D3D3D3;
}

.percentage-box,
.percentage-value,
.percentage-text {
  width: 300px;
  height: 25px;
  border-radius: 5px;
}

.percentage-box {
  position: relative;
  margin: 5px auto;
  border: 1px solid #D3D3D3;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}

.percentage-value{
  width: 85.71%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc800+0,8fc800+100;Green+Flat+%232 */
  background: rgb(143,200,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(143,200,0,1) 0%, rgba(143,200,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 ); /* IE6-9 */

}

.percentage-text {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5px;
  color: #000;
  text-align: center;
  width: 100%;
}

#botao-editar{
  float: right;
  display: inline-block;
  margin: 20px 5px 0 0;
  width: 165px;
  height: 140px;
}

#img-editar {
  margin: auto 5px;
  width: 50%;
}

#camp-conteudo{
  width: 1000px;
  min-height: 100%; 
  margin: 10px auto;
}

#camp-participantes{
  font:bold 14px/25px sans-serif;
  float: left;
  width: 49.5%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
  color: #D3D3D3;
  display: inline-block;
  border-radius: 15px;
}

#camp-partidas{
  font:bold 14px/30px sans-serif;
  float: right;
  width: 49.5%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,128,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
  border-radius: 15px;
  display: inline-block;
  color: #D3D3D3;
}

#list-participates{
  list-style-type:none;
}

#table-partidas{
  width: 100%;
}

#wally{
  width: 100%;
}

.oculta{
  display: hidden;
}

.block{
  pointer-events:none;
}

.input-editar{
  width: 40px;
}