<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
	<link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
	<title>Championship 2016</title>
	<link rel="stylesheet" type="text/css" href="css/css_max.css" media="all and (min-width:920px)">
	<link rel="stylesheet" type="text/css" href="css/css_min.css" media="all and (max-width:919px)">
</head>

<body>
	<header>
		<a href="index.html"><img src="imagens/logo.png" alt="Logo Games ON"></a>
	</header>
	<div id="camp-title">
		<img src="imagens/camp3.jpg" alt="Campeonato RMA">
		<div id="camp-title-box">
			<h1 class="centralizar">Xtreme League</h1>

			<div class="percentage-box">
				<div class="percentage-value">
					<div class="percentage-text">
						85,71%
					</div>
				</div>
			</div>


		</div>
		<div id="botao-editar">
			<a href="campeonato.html">
				<img id="img-editar" src="imagens/salvar.png" alt="Salvar Campeonato">
			</a>
		</div>
	</div>
	<div id="camp-conteudo">
		<div id="camp-participantes" class="centralizar">
			<h2>Participantes</h2>
			<ul id="list-participates">
				<li>INTZ Team</li>
				<li>Keyd Stars</li>
				<li>paiN Gaming</li>
				<li>KaBuM Black</li>
				<li>CNB ESPORTS</li>
				<li>NaJin e-mFire</li>								
				<li>Team World Elite</li>
				<li>KT Rolster</li>					
			</ul>
		</div>
		<div id="camp-partidas" class="centralizar" >
			<h2>Rodadas</h2>
			<table id="table-partidas">
				<tr>
					<td colspan="5">Final</td>
				</tr>
				<tr>
					<td>INTZ Team</td>
					<td> <input type="number" id="time1-final" class="input-editar">  </td>
					<td> X </td>
					<td> <input type="number" id="time2-final" class="input-editar">  </td> 
					<td>Keyd Stars</td>
				</tr>
				<tr>
					<td colspan="5">Semifinal</td>
				</tr>
				<tr>
					<td>INTZ Team</td>
					<td> 3 </td>
					<td> X </td>
					<td> 0 </td> 
					<td>paiN Gaming</td>
				</tr>
				<tr>
					<td>Keyd Stars</td>
					<td> 3 </td>
					<td> X </td>
					<td> 0 </td> 
					<td>KaBuM Black</td>
				</tr>
				<tr>
					<td colspan="5">Quartas de Finais</td>
				</tr>
				<tr>
					<td>INTZ Team</td>
					<td> 3 </td>
					<td> X </td>
					<td> 0 </td> 
					<td>CNB ESPORTS</td>
				</tr>
				<tr>
					<td>paiN Gaming</td>
					<td> 3 </td>
					<td> X </td>
					<td> 0 </td> 
					<td>KT Rolster</td>
				</tr>
				<tr>
					<td>Keyd Stars</td>
					<td> 3 </td>
					<td> X </td>
					<td> 0 </td> 
					<td>Team World Elite</td>
				</tr>
				<tr>
					<td>KaBuM Black</td>
					<td> 3 </td>
					<td> X </td>
					<td> 0 </td> 
					<td>NaJin e-mFire</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>