<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
  <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
  <title>Championship 2016</title>
  <link rel="stylesheet" type="text/css" href="/css/css_max.css" media="screen">
</head>

<body>
  <header>
    <img src="imagens/erro404.png" alt="Erro - Página não encontrada">
  </header>
    <img id="wally" src="imagens/wally2.jpg" alt="Where is Wally? - Erro 404">
</body>
</html>
