<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
	<link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
	<title>Championship 2016</title>
	<link rel="stylesheet" type="text/css" href="css/css_min.css" media="screen and (max-width:919px)">
	<link rel="stylesheet" type="text/css" href="css/css_max.css" media="screen and (min-width:920px)">
</head>

<body>

	<div id="conteudo-all">
		<header>
			<a href="index.html"><img src="imagens/logo.png" alt="Logo Games ON"></a>
			<div id="header-login">
				<a href="registro.html"><button class="btn btn-lol">Registrar</button></a>
				<a href="login.html"><button class="btn btn-lol">Login</button></a>
			</div>
		</header>
		<div id="conteudo">
			<section class="centralizar">
				<h1 class="centralizar">Está no ar o site do Campeonato Brasileiro</h1>

				<p>	Saímos em uma matéria sobre Dota 2 no portal brasileiro da IGN.com , a IGN Brasil. O Alexandre "Skeat" Trevisan e o Shigueo falaram um pouco sobre o cenário do jogo e das dificuldades em comparação com os "concorrentes" como League of Legends - Brasil e Smite - Level Up.Apesar das dificuldades, o cenário tcomeçando a se desenvolver. Estamos atrasados se comparado com outros lugares do mundo mas estamos caminhando.</p>

				<img src="imagens/trofeu.jpg" alt="Banner campeonato brasileiro de LOL" >

				<p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it ondinium.</p>

			</section>

			<nav>

				<div id="nav-botao" class="centralizar">
					<h3><i><b><p class="centralizar">ACESSE AOS CAMPEONATOS</p></b></i></h3>
					<a href="listaCamp.html"><button class="btn btn-lol">Campeonatos</button></a>
				</div>

				<div id="nav-eventos" class="centralizar">
					<h3><i><b><p class="centralizar">EVENTOS DOS ÚLTIMOS ANOS</p></b></i></h3>

					<div id="nav-evento">
						<h3><p class="centralizar"><b>Paris</b></p></h3>
						<img src="imagens/2013.jpg" alt="Time ganhador de 2013" class="centralizar">
						<p>O evento anual de 2013 ocorreu na capital de Paris e tivemos recorde de público. </p>
					</div>
					<div id="nav-evento">
						<h3><p class="centralizar"><b>Paris</b></p></h3>
						<img src="imagens/2014.jpg" alt="Time ganhador de 2014">
						<p>O evento anual de 2014 ocorreu na capital de Paris e tivemos recorde de público.</p>
					</div>
					<div id="nav-evento">
						<h3><p class="centralizar"><b>Paris</b></p></h3>
						<img src="imagens/2015.jpg" alt="Time ganhador de 2015">
						<p>O evento anual de 2015 ocorreu na capital de Paris e tivemos recorde de público.</p>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<footer>
		Copyright © ProgRomulo
	</footer>

</body>
</html>
