<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
  <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
  <title>Championship 2016</title>
  <link rel="stylesheet" type="text/css" href="css/css_max.css" media="all and (min-width:920px)">
  <link rel="stylesheet" type="text/css" href="css/css_min.css" media="all and (max-width:919px)">
</head>

<body>
  <header>
    <a href="index.html"><img src="imagens/logo.png" alt="Logo Games ON"></a>
  </header>
  <div id="login-box">
    <div id="login-box-interno">
      <div id="login-box-label"> Login Games ON</div>

      <div class="input-div" id="input-usuario">
        <input type="text" placeholder="Usuário" id="usuario">
      </div>

      <div class="input-div" id="input-senha">
        <input type="password" placeholder="Senha" id="senha">
      </div>

      <div id="botoes">
        <div id="botao-make-login">Login</div>
      </div>
    </div>
  </div>
  <script src="js/tela-login.js"></script>
</body>
</html>
