<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
  <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon" />
  <title>Championship 2016</title>
  <link rel="stylesheet" type="text/css" href="css/css_max.css" media="all and (min-width:920px)">
  <link rel="stylesheet" type="text/css" href="css/css_min.css" media="all and (max-width:919px)">
</head>

<body>
	<header>
		<a href="index.html"><img src="imagens/logo.png" alt="Logo Games ON"></a>
  </header>
  <div id="registro-box" class="centralizar-div">
    <div id="registro-box-interno">
      <div id="registro-box-label">Novo usuário - Games ON</div>

      <div id="box-erro-registro" class="oculto">
      </div>

      <div class="input-div">
        <input type="text" placeholder="Nome Completo" id="nomeGameOn" class="campo-correto">
      </div>

      <div class="input-div">
        <input type="email" placeholder="Email" id="emailGameOn" class="campo-correto">
      </div>

      <div class="input-div">
        <input type="text" placeholder="Usuário" id="userGameOn" class="campo-correto">
      </div>

      <div class="input-div">
        <input type="password" placeholder="Senha" id="senhaGameOn" class="campo-correto">
      </div>

      <div class="input-div">
        <input type="password" placeholder="Confirma Senha" id="confirmPasswordGameOn" class="campo-correto">
      </div>

      <div id="botoes">
        <div id="botao-make-register">Registrar</div>
      </div>
    </div>
  </div>
  <script src="js/tela-registro.js"></script>
</body>
</html>
